 /* styles.css */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
